<div class="row">
    <div class="table-responsive">
    <table class="table">
　       <ul>
          <% Message.all.each do |message| %>
            <li class="message_line"><%= message.user.name %></li>
            <li class="message_line"><%= message.role_name %></li>
            <li class="message_line"><%= message.content %></li>
          <% end %>
         </ul>
    </table>
    </div>
</div>